
/* Acadêmico: Juliano Fragas
   TSI18 - Tecnólogo Sistemas para Internet
   IFC - Instituto Federal Catarinense - Campus Camboriú
   Programação Web - Prof° Rafael Speroni
*/
/* Barra de rolagem */

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body {
	margin: 0;
	margin-top: 0;
	padding: 0;
}

/* Cabeçalho */

header img {
	display: flex;
	margin-top: 40px;
	margin-left: 510px;
}

header h1 {
	display: flex;
	font-size: 18px;
	font-family: 'Righteous'; sans-serif;
    margin-left: 695px;
    margin-top: -60px;
    color: #5cc1b3;
}

header h2 {
	display: flex;
	font-size: 18px;
	font-family: 'Righteous'; sans-serif;
	margin-left: 595px;
	margin-top: -7px;
	color: #5cc1b3;
}

/* menu */

.menu {
	margin-top: 50px;
	width: 100%;
}

.menu ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	overflow: hidden;
	background-color: #414141;
	margin-top: 0;
    margin-left: -1px;
	font-family: Trebuchet MS; sans-serif;
}

.menu li {
	float: left;
	text-align: center;
}

.menu li a {
	text-align: center;
	display: inline-block;
	color: white;
	padding: 16px 18px;
	text-decoration: none;
	font-size: 18px;
	transition: 2s;
}

.menu li a:hover {
	color: black;
	background-color: white;
	transition: 2s;
}

.ladoE {
	margin-top: 180px;
	display: flex;
	flex-direction: row;
	margin-left: 150px;
	cursor: pointer;
}

.ladoE h1 {
	margin-top: 290px;
	margin-left: -325px;
	font-size: 21px;
	font-family: 'Aclonica'; sans-serif;
}

.meio {
	margin-top: -330px;
	margin-left: 560px;
	cursor: pointer;
}

.meio h1 {
	margin-top: 37px;
	margin-left: -35px;
	font-size: 21px;
	font-family: 'Aclonica'; sans-serif;
}

.ladoD {
	margin-top: -330px;
	margin-left: 980px;
	cursor: pointer;
}

.ladoD h1 {
	font-family: 'Aclonica'; sans-serif;
	font-size: 21px;
	margin-left: 20px;
	margin-top: 35px;
} 

/* Estilização do modal */

.modal-container {
	width: 100vw; /* largura total da tela*/
	height: 100vh; /* altura total da tela */
	background: rgba(0,0,0,.9); /* efeito transparente */
	position: fixed; /* posição fixa */
	top: 0px; /* para aparecer em cima da página */
	left: 0px; /* para aparecer em cima da página */
	z-index: 2000; /* para ficar em cima de tudo */
	display: none;  /*esconder o modal (none) */
	justify-content: center; /* alinhamento na vertical */
	align-items: center; /* alinhamento na horizontal */
}

.modal {
	background: white;
	width: 80%;
	min-width: 300px;
	padding: 40px;
	border: 5px solid #414141; /* borda do modal */
	box-shadow: 0 0 0 5px white; /* aparecencia de uma segunda borda, com uma sombra */
	position: relative;
	border-radius: 15px; /* para arrendondar a janela modal */
}

.modal h1 {
	font-family: 'Righteous'; sans-serif;
	font-size: 32px;
	color: black;
	text-align: center;
}

.modal p {
	text-align: center;
	font-size: 29px;
	font-family: 'Aclonica'; sans-serif;
	color: #5cc1b3;
}

/* botão fechar */

.fechar {
	position: absolute;
	top: -30px;
	right: -30px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 4px solid white;
	background: #414141;
	color: white;
	font-family: Trebuchet MS; sans-serif;
	cursor: pointer;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
	font-size: 1.2em;
}

.modal-container.mostrar {
       display: flex;
}

/* animação da janela modal */

@keyframes modal {
	from {
       opacity: 0;
       transform: translate3d(0, -60px, 0);
	}
    to {
       opacity: 1;
       transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
	animation: modal .3s;
}

/* Rodapé */ 

footer{
	margin-top: 350px;
	display: flex;
	background-color: black;
	width: 100%;
	height: 60px;
}

strong {
	display: flex;
	color: white;
	font-family: Trebuchet Ms; sans-serif;
	font-size: 16px;
	margin-left: 490px;
	margin-top: 20px;
}
